body {
  margin: 0 auto;
  height: 1024px;

  background-image: url('../../../../assets/images/rising.jpg');
  -webkit-background-size: cover; 
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pagename {
  font-size: 60px;
  text-transform: uppercase;
  padding-left: 35px;
  padding-top: 0px;
}

label {
  font-size: 18px;
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 17px;
}

input[type=submit] {
  border: 3px solid white;
  border-radius: 18px;
  background-color: rgb(255 255 255 / 0.50);
  margin: 8px;
  cursor: pointer;
  padding: 28px;
  font-size: 20px;
  width: 450px;
  height: 80px;
  text-align: center;
}

input[type=submit]:hover {
  background-color: white;
}

.topnav {
  overflow: hidden;
  padding: 5px;
}

.topnav a {
  float: right;
  color: #0d241f;
  text-align: center;
  padding-right: 15px;
  padding-top: 3px;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(131, 179, 172);
}

.container {
  padding: 50px;
  border-radius: 18px;
  background-color: rgb(243 243 243 / 0.4);
  margin-top: 70px;
  margin-left: 70px;
  margin-right: 70px;
}